<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestandoIntegracaoGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A9B64E01C66E56200796B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9B64F41C66E56300796B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9B64FF1C66E56300796B22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
